body {
     text-align: left;
     margin-left: 350px;
     margin-top: 50px;
     margin-right: 200px;
     background-color: rgb(241, 241, 235);
 }
 
 h1 {
     font-size: 40px;
     margin-top: 100px
 }
 
 p {
     font-size: 17px;
 }

 .sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(28, 27, 46);
  overflow-x: hidden;
  font-size: 25px;
}


.sidenav a {
  color: white;
  padding: 50.5px;
  text-decoration: none;
  display: block;
}

.sidenav a:hover {
  background-color: rgb(194, 13, 88);
  color: rgb(255, 255, 255);
}

.sidenav a:active {
  background-color: rgb(92, 4, 40);
  color: rgb(255, 255, 255);  
}

#customers {
  border-collapse: collapse;
  width: 100%;
  margin-top:30px;
  margin-bottom:100px;
}

#customers td, #customers th {
  border: 0px solid rgb(241, 241, 241);
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #e4e4e4;}

#customers tr:hover {background-color: rgb(194, 13, 88);
color: white;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(28, 27, 46);
  color: white;
}
